<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8" />
        <title>天氣</title>
        <link rel="stylesheet" type="text/css" href="../static/css/weather.css">
        <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    </head>
    <body>
        <div class="background-image"></div>


<!--header-->
    <div class="header">

    </div>

<!--content-->
     <div class="content">
        <div class="section1">
            <div class="left">
                <div class="citys">
                    <div class="city">台中市</div>
                    <div class="triangle"></div>
                </div>
                <div class="taiwan">台灣</div>
                <div class="time_part">
                    <div class="date">10/16</div>
                    <div class="time">15:00</div>
                </div>
            </div>
            <div class="right">
                <div class="raintext">降雨機率</div>
                <div class="rainbox">
                    <div class="rainpercentage">50</div>
                    <div class="rainicon"></div>
                </div>
            </div>
        </div>
        <div class="section2">
            <div class="section2-left">
                <div class="weather">
                    <div class="weathericon"></div>
                    <div class="weathertext">晴</div>
                    <div class="comfort">舒適</div>
                </div>
                <div class="day_temperature">
                    <div class="icon-arrow_up"></div>
                    <div class="max_temperature">28</div>
                    <div class="icon-arrow_down"></div>
                    <div class="min_temperature">22</div>
                </div>
                <div class="now_temperature">
                    <div class="temperature_degree">27</div>
                    <div class="degree">°</div>
                    <div class="Celsiusdegrees">C</div>
                    
                </div>
            </div>
            <div class="section2-right">
                <div class="subscribe">訂閱天氣資訊</div>
                <div class="subscribe-icon"></div>
            </div>
        </div>
    </div>
<!--footer-->
    <div class="footer">
    
    </div>        
    <script src="/static/js/subform.js"></script>
</body>

</html>

 